body{
    font-family: "Arial";
    margin: auto;
    width: 80%;
}

h1{
    text-align: center;
}

.KoTam, .temptation, .collision{
    border: 1px solid rgb(104, 69, 30);
    padding: 20px;
    margin: 20px;
}

.KoTam{
    background-color: rgb(255, 229, 174);

}

.temptation{
    background-color: rgb(248, 136, 136);
}

.attack{
    display: flex;
    justify-content: space-around;
}

.collision{
    background-color: rgb(160, 133, 255);    
}

.collision *{
    padding: 0;
    margin: 0;
}

.initiative{
    display: flex;
    align-items: left;
    margin: auto;
    padding: 10px;
}
.strength, .dexterity, .physique, .intelligence, .wisdom, .charisma{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.initiative > p{
    padding: 0 40px;
}